@use "../styles/app" as *;

.fade-in-section {
  opacity: 0; /* Initially invisible */
  transform: translateY(30px); /* Slightly offset */
  transition: opacity 1s ease-out, transform 1s ease-out;

  &.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Back to original position */
  }
}