@use "../styles/app" as *;

.slider-container {
    width: 100%; /* Adjust to fit the design */
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    @include for-tablet {
      margin-top: 60px;
    }
    @include for-desktop {
      margin-top: 60px;
     }
  }
  
  .slider {
    display: flex;
    gap: 50px; /* Space between items */
    width: fit-content;
    animation: scroll infinite linear 30s;
  }
  
  .slider-item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-30%);
    }
  }
  