@import  '../styles/app';


/* Go to top BTN */
.scroll-to-top {
    background-color: $primary;
    background-image: linear-gradient( 270deg,  $primary 6%, $tiertary 94% );
    border-radius: 9px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 12px;
  
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
    &.visible {
        opacity: 1;
        transform: translateY(0);
      }
  }

  